<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ site.author.name }}">
<title>{{ page.title }}</title>
<link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico">
<link rel="apple-touch-icon" href="{{ site.url }}/assets/apple-touch-icon.png">

<link rel="stylesheet" href="/assets/css/styles.min.css">

<script data-goatcounter="https://chris-vega.goatcounter.com/count" async src="//gc.zgo.at/count.js">
</script>
