<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C9YKR7YG6H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C9YKR7YG6H');
</script>
<!-- css -->
<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/cv/css/style.css">
</head>
<!-- Dark Mode Toggle -->
<body>
  const toggleButton = document.getElementById('dark-mode-toggle');
  const body = document.body;

  toggleButton.addEventListener('click', () => {
    body.classList.toggle('dark-mode');
  });

  // Check for browser color scheme preference
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");

  if (prefersDark.matches) {
    body.classList.add('dark-mode');
  }
</body>
<!-- put the Dark Mode Toggle onto the page -->
{% include dark-mode-toggle.html %}