<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C9YKR7YG6H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C9YKR7YG6H');
</script>
<!-- css -->
<head>
  <!-- Dark Mode includes (first attempt) -->
  <link rel="stylesheet" href="{{ site.baseurl }}/cv/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/cv/css/dark-mode.css" id="dark-mode-link">
  <!-- Print button TWO includes (html2pdf) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/cv/js/print2.js"></script>
</head>
<!-- Dark Mode Toggle -->
<body>
  const toggleButton = document.getElementById('dark-mode-toggle');
  const body = document.body;

  toggleButton.addEventListener('click', () => {
    body.classList.toggle('dark-mode');
  });

  // Check for browser color scheme preference
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");

  if (prefersDark.matches) {
    body.classList.add('dark-mode');
  }
</body>
<!-- put the Dark Mode Toggle onto the page -->
  <!-- {% include dark-mode-toggle.html %} -->
<button id="dark-mode-toggle" onclick="toggleDarkMode()">Toggle dark mode</button>
<!-- Dark Mode script -->
<script>
  function toggleDarkMode() {
    var body = document.body;
    var darkModeToggle = document.getElementById('dark-mode-toggle');
    var darkModeLink = document.getElementById('dark-mode-link');
  
    if (body.classList.contains('dark-mode')) {
      body.classList.remove('dark-mode');
      darkModeToggle.textContent = 'Toggle dark mode';
      darkModeLink.href = '{{ site.baseurl }}/assets/css/dark-mode.css';
    } else {
      body.classList.add('dark-mode');
      darkModeToggle.textContent = 'Toggle light mode';
      darkModeLink.href = '{{ site.baseurl }}/assets/css/light-mode.css';
    }
  }
  </script>  